body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search-container {
    margin-bottom: 20px;
}

.result {
    margin-bottom: 10px;
}

.result a {
    text-decoration: none;
    color: #007BFF;
}

.loading {
    display: none;
    text-align: center;
}

.loading img {
    width: 100px;
    /* 修改宽度 */
    height: 100px;
    /* 修改高度 */
}